In [1]:
import pandas as pd

In [4]:
customer_data=pd.read_csv("customer_shopping_behavior.csv")

In [8]:
customer_data.head(20)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
5,6,46,Male,Sneakers,Footwear,20,Wyoming,M,White,Summer,2.9,Yes,Standard,Yes,Yes,14,Venmo,Weekly
6,7,63,Male,Shirt,Clothing,85,Montana,M,Gray,Fall,3.2,Yes,Free Shipping,Yes,Yes,49,Cash,Quarterly
7,8,27,Male,Shorts,Clothing,34,Louisiana,L,Charcoal,Winter,3.2,Yes,Free Shipping,Yes,Yes,19,Credit Card,Weekly
8,9,26,Male,Coat,Outerwear,97,West Virginia,L,Silver,Summer,2.6,Yes,Express,Yes,Yes,8,Venmo,Annually
9,10,57,Male,Handbag,Accessories,31,Missouri,M,Pink,Spring,4.8,Yes,2-Day Shipping,Yes,Yes,4,Cash,Quarterly
10,11,53,Male,Shoes,Footwear,34,Arkansas,L,Purple,Fall,4.1,Yes,Store Pickup,Yes,Yes,26,Bank Transfer,Bi-Weekly
11,12,30,Male,Shorts,Clothing,68,Hawaii,S,Olive,Winter,4.9,Yes,Store Pickup,Yes,Yes,10,Bank Transfer,Fortnightly
12,13,61,Male,Coat,Outerwear,72,Delaware,M,Gold,Winter,4.5,Yes,Express,Yes,Yes,37,Venmo,Fortnightly
13,14,65,Male,Dress,Clothing,51,New Hampshire,M,Violet,Spring,4.7,Yes,Express,Yes,Yes,31,PayPal,Weekly
14,15,64,Male,Coat,Outerwear,53,New York,L,Teal,Winter,4.7,Yes,Free Shipping,Yes,Yes,34,Debit Card,Weekly
15,16,64,Male,Skirt,Clothing,81,Rhode Island,M,Teal,Winter,2.8,Yes,Store Pickup,Yes,Yes,8,PayPal,Monthly
16,17,25,Male,Sunglasses,Accessories,36,Alabama,S,Gray,Spring,4.1,Yes,Next Day Air,Yes,Yes,44,Debit Card,Bi-Weekly
17,18,53,Male,Dress,Clothing,38,Mississippi,XL,Lavender,Winter,4.7,Yes,2-Day Shipping,Yes,Yes,36,Venmo,Quarterly
18,19,52,Male,Sweater,Clothing,48,Montana,S,Black,Summer,4.6,Yes,Free Shipping,Yes,Yes,17,Cash,Weekly
19,20,66,Male,Pants,Clothing,90,Rhode Island,M,Green,Summer,3.3,Yes,Standard,Yes,Yes,46,Debit Card,Bi-Weekly

### DATA CLEANING

In [6]:
customer_data.shape

(3900, 18)

In [9]:
customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [10]:
customer_data.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Shipping Type',
       'Discount Applied', 'Promo Code Used', 'Previous Purchases',
       'Payment Method', 'Frequency of Purchases'],
      dtype='object')

In [12]:
customer_data.columns=customer_data.columns.str.lower()
customer_data.columns=customer_data.columns.str.replace(' ','_')
customer_data.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_(usd)', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [14]:
customer_data=customer_data.rename(columns={'purchase_amount_(usd)':'purchase_amount'})#FOR EASE OF USE
customer_data.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [17]:
customer_data.describe(include='all')

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [18]:
customer_data.isnull().sum()

customer_id                0
age                        0
gender                     0
item_purchased             0
category                   0
purchase_amount            0
location                   0
size                       0
color                      0
season                     0
review_rating             37
subscription_status        0
shipping_type              0
discount_applied           0
promo_code_used            0
previous_purchases         0
payment_method             0
frequency_of_purchases     0
dtype: int64

In [19]:
customer_data['review_rating']=customer_data.groupby('category')['review_rating'].transform(lambda x:x.fillna(x.median()))
#CATEGORYWISE REVIEW MEDIAN FILLED INTO NULL VALUES

In [20]:
customer_data.isnull().sum()

customer_id               0
age                       0
gender                    0
item_purchased            0
category                  0
purchase_amount           0
location                  0
size                      0
color                     0
season                    0
review_rating             0
subscription_status       0
shipping_type             0
discount_applied          0
promo_code_used           0
previous_purchases        0
payment_method            0
frequency_of_purchases    0
dtype: int64

In [25]:
(customer_data['discount_applied']==customer_data['promo_code_used']).all() #BOTH COLUMNS REDUNDANT REMOVED promo_code_used

np.True_

In [26]:
customer_data=customer_data.drop('promo_code_used',axis=1)

In [34]:
customer_data.columns.size

17

### creating columns as per need

In [35]:
#Creating age_group column
labels=['Young adult','Adult','Middle-aged','Senior']
customer_data['age_group']=pd.qcut(customer_data['age'],4,labels=labels)

In [40]:
customer_data[['age','age_group']].head(20)

    age    age_group
0    55  Middle-aged
1    19  Young adult
2    50  Middle-aged
3    21  Young adult
4    45  Middle-aged
5    46  Middle-aged
6    63       Senior
7    27  Young adult
8    26  Young adult
9    57  Middle-aged
10   53  Middle-aged
11   30  Young adult
12   61       Senior
13   65       Senior
14   64       Senior
15   64       Senior
16   25  Young adult
17   53  Middle-aged
18   52  Middle-aged
19   66       Senior

In [41]:
customer_data['frequency_of_purchases'].unique()

array(['Fortnightly', 'Weekly', 'Annually', 'Quarterly', 'Bi-Weekly',
       'Monthly', 'Every 3 Months'], dtype=object)

In [44]:
#Creating purchase_frequency_days column

frequency_mapping={'Fortnightly':14, 'Weekly':7, 'Annually':365, 'Quarterly':90, 'Bi-Weekly':14,
       'Monthly':30, 'Every 3 Months':90}

customer_data['purchase_frequency_days']=customer_data['frequency_of_purchases'].map(frequency_mapping)
customer_data[['frequency_of_purchases','purchase_frequency_days']].head(20)

   frequency_of_purchases  purchase_frequency_days
0             Fortnightly                       14
1             Fortnightly                       14
2                  Weekly                        7
3                  Weekly                        7
4                Annually                      365
5                  Weekly                        7
6               Quarterly                       90
7                  Weekly                        7
8                Annually                      365
9               Quarterly                       90
10              Bi-Weekly                       14
11            Fortnightly                       14
12            Fortnightly                       14
13                 Weekly                        7
14                 Weekly                        7
15                Monthly                       30
16              Bi-Weekly                       14
17              Quarterly                       90
18                 Weekly                        7
19              Bi-Weekly                       14

### connecting to sqlserver

In [45]:
!pip install pyodbc sqlalchemy

Collecting pyodbc
  Downloading pyodbc-5.3.0-cp310-cp310-win_amd64.whl (69 kB)
     ---------------------------------------- 0.0/69.4 kB ? eta -:--:--
     ----------- -------------------------- 20.5/69.4 kB 682.7 kB/s eta 0:00:01
     ----------- -------------------------- 20.5/69.4 kB 682.7 kB/s eta 0:00:01
     ----------- -------------------------- 20.5/69.4 kB 682.7 kB/s eta 0:00:01
     ----------- -------------------------- 20.5/69.4 kB 682.7 kB/s eta 0:00:01
     ----------- -------------------------- 20.5/69.4 kB 682.7 kB/s eta 0:00:01
     ----------- -------------------------- 20.5/69.4 kB 682.7 kB/s eta 0:00:01
     ----------------------- --------------- 41.0/69.4 kB 98.5 kB/s eta 0:00:01
     -------------------------------------- 69.4/69.4 kB 164.8 kB/s eta 0:00:00
Collecting sqlalchemy
  Downloading sqlalchemy-2.0.45-cp310-cp310-win_amd64.whl (2.1 MB)
     ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
     - -------------------------------------- 0.1/2.1 MB 1.7 MB/s eta 0:00:02
     --- ------------------------------------ 0.2/2.1 MB 2.1 MB/s eta 0:00:01
     ----- ---------------------------------- 0.3/2.1 MB 2.4 MB/s eta 0:00:01
     -------- ------------------------------- 0.5/2.1 MB 2.7 MB/s eta 0:00:01
     ---------- ----------------------------- 0.6/2.1 MB 2.6 MB/s eta 0:00:01
     -------------- ------------------------- 0.8/2.1 MB 3.0 MB/s eta 0:00:01
     ----------------- ---------------------- 0.9/2.1 MB 2.9 MB/s eta 0:00:01
     -------------------- ------------------- 1.1/2.1 MB 3.1 MB/s eta 0:00:01
     ---------------------- ----------------- 1.2/2.1 MB 3.0 MB/s eta 0:00:01
     ---------------------------- ----------- 1.5/2.1 MB 3.3 MB/s eta 0:00:01
     ------------------------------ --------- 1.6/2.1 MB 3.3 MB/s eta 0:00:01
     --------------------------------- ------ 1.8/2.1 MB 3.4 MB/s eta 0:00:01
     ----------------------------------- ---- 1.9/2.1 MB 3.2 MB/s eta 0:00:01
     -------------------------------------- - 2.1/2.1 MB 3.2 MB/s eta 0:00:01
     ---------------------------------------  2.1/2.1 MB 3.2 MB/s eta 0:00:01
     ---------------------------------------- 2.1/2.1 MB 3.0 MB/s eta 0:00:00
Collecting greenlet>=1
  Downloading greenlet-3.3.0-cp310-cp310-win_amd64.whl (300 kB)
     ---------------------------------------- 0.0/300.7 kB ? eta -:--:--
     -------------- ----------------------- 112.6/300.7 kB 6.4 MB/s eta 0:00:01
     -------------------------------------- 300.7/300.7 kB 3.7 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\navee\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (4.15.0)
Installing collected packages: pyodbc, greenlet, sqlalchemy
Successfully installed greenlet-3.3.0 pyodbc-5.3.0 sqlalchemy-2.0.45

[notice] A new release of pip is available: 23.0.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [48]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus

# SQL Server connection (Windows Authentication)
host = "localhost\SQLEXPRESS"
database = "customer_behaviour"

driver = quote_plus("ODBC Driver 17 for SQL Server")
engine = create_engine(
    f"mssql+pyodbc://@{host}/{database}"
    f"?driver={driver}&trusted_connection=yes")

# Write DataFrame to SQL Server
customer_data.to_sql("customer", engine, if_exists="replace", index=False)

# Read back sample (SQL Server uses TOP instead of LIMIT)
pd.read_sql("SELECT TOP 5 * FROM customer;", engine)

C:\Users\navee\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:1648: SAWarning: Unrecognized server version info '17.0.1000.7'.  Some SQL Server features may not function properly.
  con = self.exit_stack.enter_context(con.connect())

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,purchase_frequency_days
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,14,Venmo,Fortnightly,Middle-aged,14
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,2,Cash,Fortnightly,Young adult,14
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,23,Credit Card,Weekly,Middle-aged,7
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,49,PayPal,Weekly,Young adult,7
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,31,PayPal,Annually,Middle-aged,365